html, body {
  overflow-x: hidden;
  letter-spacing: 0.05em;
}

#graph {
  margin: 20px auto;
  display: block;
  max-width: 100%;
  background: #fafafa;
  border-radius: 3px;
}

#title {
  fill: #558b2f;
  font-weight: bold;
  text-anchor: middle;
}

#labels text {
  text-anchor: end;
  fill: #616161;
}

#scales text {
  fill: #9e9e9e;
  text-anchor: middle;
}

#scales line {
  stroke: #e0e0e0;
}

.wrap {
  text-align: center;
}

#play {
  display: inline-block;
  padding: 10px 20px;
}

#play.active {
  cursor: pointer;
  background: #9ccc65;
  color: #ffffff;
  border-radius: 2px;
}

#play.active:hover {
  opacity: 0.8;
}

.notes {
  width: 500px;
  max-width: 100%;
  padding: 10px 10px 0;
  margin: 30px auto 0;
  color: #616161;
  font-size: 14px;
  border-top: 1px dashed #9e9e9e;
}

.notes p {
  margin-top: 12px;
  margin-bottom: 12px;
}

.notes a {
  color: #558b2f;
}

.notes a:hover {
  text-decoration: none;
}